html {
    background-color: rgb(22, 22, 22);
}
body{
    background-color: transparent;
}
.list li h3 {
    margin: 0;
    font-size: large;
}
.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0;
}
.list li {
    border: 2px dashed brown;
    color:dimgray;
    font-family: sans-serif;
    transition:  background-color 0.2s, color 0.2s;
}
.list li:hover{
    background-color: rgb(88, 116, 24);
    color: white;
    border: 2px dashed rgb(193, 218, 139);
}
::placeholder{
    color: white !important;
}